<% if(typeof errors != 'undefined') {%>
    <% errors.forEach(function(error) {%>
        <div class="error-msg" role="alert"> 
            <p class="error-msg__text">
                <%= error.msg %>
            </p>
        </div>
   <% }); %>
<% } %>

<% if (success_msg != '') { %>
    <div class="success-msg" role="alert">
        <p class="error-msg__text">
            <%= success_msg %> 
        </p>
    </div>

<% } %>

<% if (error_msg != '') { %>
    <div class="error-msg" role="alert">
        <p class="error-msg__text">
            <%= error_msg %> 
        </p>
    </div>
<% } %>

<% if (error != '') { %>
    <div class="error-msg" role="alert">
        <p class="error-msg__text">
            <%= error %> 
        </p>
    </div>
<% } %>